.first-image {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

body {
  font-family: "Open Sans", sans-serif; }

h1 {
  padding-left: 150px;
  padding-top: 150px; }

.header-text {
  color: #117182; }

.paragraph-text {
  color: #42afc2; }

.h2-services {
  padding-left: 150px;
  padding-top: 150px; }

.services-links {
  text-decoration: none;
  color: #42afc2; }

.site-footer {
  background-color: #42afc2; }

.icons {
  color: black; }

.bg-1 {
  background-color: #42afc2; }

.make-appointment {
  background-color: #42afc2;
  text-decoration: none;
  color: white; }
